{% extends 'base.html' %}

{% block title %}
    About {{ AUTHOR_SHORTENED }} | {{ super() }}
{% endblock title %}

{% block meta_tags_in_head %}
    {{ super() }}
    <link rel="canonical" href="{{ SITEURL }}/{{ ABOUT_PAGE }}">
    <meta property="og:title" content="{{ ABOUT_PAGE_TITLE }} | {{ SITENAME|striptags|e }}"/>
    <meta name="twitter:title" content="{{ ABOUT_PAGE_TITLE }} | {{ SITENAME|striptags|e }}"/>
    <meta property="og:url" content="{{ SITEURL }}/{{ ABOUT_PAGE }}" />
    <meta property="og:description" content="{{ ABOUT_PAGE_DESCRIPTION }}" />
    <meta name="twitter:description" content="{{ ABOUT_PAGE_DESCRIPTION }}"/>
    <meta property="og:site_name" content="{{ SITENAME|striptags|e }}" />
    <meta property="og:article:author" content="{{ AUTHOR }}" />
    {% from '_includes/_defaults.html' import FEATURED_IMAGE with context %}
    {% if FEATURED_IMAGE %}
        <meta property="og:image" content="{{ FEATURED_IMAGE }}" />
        <meta name="twitter:image" content="{{ FEATURED_IMAGE }}"/>
    {% endif %}
{% endblock meta_tags_in_head %}

{% block content %}
    <div class="about-profile-banner row align-items-center justify-content-center" align="center" style="background-image: url('{{ SITEURL }}/{{ INDEX_BANNER_IMAGE }}')">
        <div class="about-content-center pop-over">
            <div class="cc-profile-image">
                <a href="#"><img id="about-profile-image" src="{{ SITEURL }}/{{ PROFILE_PHOTO_ABOUT }}"></a>
            </div>
            <div class="about-author">{{ AUTHOR }}</div>
            <p class="about-author-subtitle text-white">{{ AUTHOR_SUBTITLE }}</p>
            <a class="btn btn-primary aos-init aos-animate" href="{{ RESUME_PDF_LINK }}" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">{{ RESUME_BUTTON_TEXT }}</a>
        </div>
    </div>
    <div class="section about-button-container no-padding pop-over">
       <div class="container">
          <div class=" row justify-content-center">
              <a class="btn btn-default btn-lg btn-icon about-button mr-3" href="{{ LINKEDIN_LINK }}">
                  <i class="fab fa-linkedin-in"></i>
              </a>
              <a class="btn btn-default btn-round btn-lg btn-icon about-button" href="{{ GITHUB_LINK }}">
                  <i class="fab fa-github"></i>
              </a>
          </div>
       </div>
    </div>
    <div class="container post pop-over">
        <div class="section" id="about" tabindex="-1">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="h2 mt-3 title text-center mb-5">About</div>
                        <hr>
                        <p>Hello, I'm Violet Oh - Computer Scientist, and Software Engineer.</p>
                        <p>I am a sophomore student in Computer Science at the University of Oklahoma.
                            I'm currently a lab member in 
                            <a href="https://www.researchgate.net/lab/Robotics-Evolution-Adaptation-and-Learning-Laboratory-REAL-Lab-Dean-Frederick-Hougen">
                                REAL Lab</a> 
                             (Robotics, Evolution, Adoptation, and Learning Laboratory), led by Dr. Hougen at the University of Okalhoma.
                            My passion lies within the field of algorithms, and sharing my knowledge to the computer science community.</p>
                        <p>The goal of this blog is to provide educational materials for those people who want to learn
                            algorithms in Computer Science. 
                             Most articles include the concepts and applications of CS terms.
                            </p>
                        <p> If you have any questions, you can reach me via
                            <b>violet.oh16@gmail.com</b></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}


