{% from '_includes/_defaults.html' import USE_SHORTCUT_ICONS with context %}
{%if USE_SHORTCUT_ICONS == True %}
        <link rel="shortcut icon" href="{{ SITEURL }}/theme/img/favicon.ico" type="image/x-icon" />
        {# Opera Speed Dial Icon #}
        {# See https://github.com/operasoftware/devopera-static-backup/blob/master/http/dev.opera.com/articles/view/opera-speed-dial-enhancements/index.html #}
        <link rel="icon" href="{{ SITEURL }}/theme/img/favicon.svg" type="image/png" />
        {# Safari on iOS #}
        {# See https://developer.apple.com/library/ios/documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html #}
        <link rel="apple-touch-icon" href="{{ SITEURL }}/theme/img/favicon.svg"  type="image/png" />

{% endif %}

